.boczneMenu
{
    padding: 5px;
    background-color: #1e2136;
    font-size: 15px;
    display: flex;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boczneMenu:hover
{
    cursor: pointer;
    background-color: #46209e;
}
.boczneMenuStale
{
    padding: 10px;
    background-color: #1e2136;
    font-size: 16px;
}
#zegarek
{
    font-size: 20px;
}