.boczneMenu
{
    border: 1px solid gray;
    border-bottom: 1px solid #EE5A24;
    border-right: 1px solid #EE5A24;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 6px;
    background-color: #4b4b4b;
    font-size: 14px;
}
.boczneMenu:hover
{
    border-bottom: 1px solid #FFC312;
    border-right: 1px solid #FFC312;
    cursor: pointer;
}
.boczneMenuStale
{
    border: 2px solid rgb(31, 31, 31);
    border-bottom: 2px solid #ff4400;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 6px;
    background-color: #4b4b4b;
    font-weight: 1000;
}
