*{margin: 0px;}
@font-face {
    font-family:Roboto-Black ;
    src: url(Roboto-Black.ttf);
}
@font-face {
    font-family:Roboto-Italic ;
    src: url(Roboto-Italic.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(Roboto-Bold.ttf);
}
img
{
    margin: 2%;
}

.sterowanieIloscia
{

    width: 20%;
    height: 100%;
    border-radius: 8px;
    background-color: #585858;
    color: white;
    border:1px solid red;
}
.sterowanieIloscia2
{

    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: #585858;
    color: white;
    border:1px solid red;
}
.sterowanieIloscia:hover
{
    border: 1px solid orange;
}
.sterowanieIloscia2:hover
{
    border: 1px solid orange;
}

.glownyDiv
{
    background-color: #121420;
    border-radius: 20px;
    margin-top: 5%;
    padding: 1%;
}
.odpowiedzi
{
    margin-top: 2%;
    padding: 1%;
    padding-left: 2%;
    border-left: 0.5px solid #7034ff;
    border-bottom: 0.5px solid #7034ff;
    background-color:#22263f ;
    border-radius: 100px;
    text-align: left;
    display: flex;
}

.odpowiedzi:hover
{
    border-left: 2px solid #824cff;
    border-bottom: 2px solid #824cff;
}

.pytanie
{
    font-family: Roboto-Black;
    font-weight: 1000;
    font-size: 30px;
    border: 1px solid #824cff;
    padding:50px;
    background-color: #22263f;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 6%;
}

.idPytania
{
    border-radius: 20px 20px 0px 0px;
    padding: 2%;
    text-align: left;
    font-size: 13px;
    background-color: #7034ff;
}

#output 
{
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 10px;
}

.latajacyDiv
{
    position: sticky;
    width: 20%;
    height: 40px;
    background-color: #22263f;
    bottom: 10px;
    border: 0.5px solid black;
    border-left: 2px solid #7034ff;
    border-bottom: 2px solid #7034ff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 100%;
}
.latajacyDiv:hover
{
    background-color: #7034ff;
}

.koncoweWyniki
{
    width: 100%;
    height: 250px;
    position:sticky;
    background-color: #22263f;
    border-top: 5px solid #7034ff;
    border-bottom:5px solid #7034ff;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-table;
    bottom: 200px;
    top: 5%;
    font-weight: 1000;
    text-align: center;
    padding: 10px;
    opacity: 100%;
    box-shadow: 0px 0px 3000px #7034ff;
}

.glowneNapisy
{
    padding-top: 30px;
    font-size: 30px;
    font-family: Roboto-black;
    opacity: 100%;

}
.dodatkoweNapisy
{
    position: relative;
    opacity: 100%;

}
.dodatkoweGuziki
{
    position: relative;
    border: 5px solid #7034ff;
    background-color: #22263f;
    color: white;
    align-items: center;
    justify-content: center;
    left: 46%;
    bottom: 43%;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    font-weight: 1000;
    opacity: 100%;

}
.dodatkoweGuziki:hover
{
    border:6px  solid #8c5bff;
    box-shadow: 0px 0px 10px #7c44ff;
    cursor: pointer;
    opacity: 100%;
}

.blur
{
    position:sticky;
    width: 100%;
    height: 100%;
    background-color: black;
    bottom: 1%;
    opacity: 80%;
}

.znaczek
{
    order: -1;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 5px solid white; 
}
.napisaneJest
{
    width: 100%;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

