*{margin: 0px;}
img
{
    margin: 5%;
}

.sterowanieIloscia
{

    width: 20%;
    height: 100%;
    border-radius: 8px;
    background-color: #585858;
    color: white;
    border:1px solid red;
}
.sterowanieIloscia2
{

    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: #585858;
    color: white;
    border:1px solid red;
}
.sterowanieIloscia:hover
{
    border: 1px solid orange;
}
.sterowanieIloscia2:hover
{
    border: 1px solid orange;
}

.glownyDiv
{
    background-color: #121420;
    border-radius: 20px;
    margin-top: 5%;
    padding: 1%;
}
.odpowiedzi
{
    margin-top: 2%;
    padding: 2%;
    padding-left: 2%;
    border-left: 0.5px solid #7034ff;
    border-bottom: 0.5px solid #7034ff;
    background-color:#22263f ;
    border-radius: 100px;
    text-align: left;
    display: flex;
}

.odpowiedzi:hover
{
    border-left: 2px solid #824cff;
    border-bottom: 2px solid #824cff;
}

.pytanie
{
    font-family: Roboto-Black;
    font-weight: 1000;
    font-size: 20px;
    border: 1px solid #824cff;
    padding:50px;
    background-color: #22263f;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 6%;
}

.idPytania
{
    border-radius: 20px 20px 0px 0px;
    padding: 2%;
    text-align: left;
    font-size: 13px;
    background-color: #7034ff;
}

#output 
{
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 10px;
}

.latajacyDiv
{
    position: sticky;
    width: 20%;
    height: 50px;
    background-color: #2c3469;
    bottom: 20px;
    border: 1px solid black;
    border-left: 2px solid #7034ff;
    border-bottom: 2px solid #7034ff;
    border-radius: 15px;
    display: flex;
    align-items:center;
    justify-content: center;
    left: 90%;
    top: 90%;
}
.latajacyDiv:hover
{
    background-color: #7034ff;
}

.koncoweWyniki
{
    width: 100%;
    height: 250px;
    position:absolute;
    bottom: 10%;
    background-color: #22263f;
    border-top: 5px solid #7034ff;
    border-bottom:5px solid #7034ff;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-table;
    bottom: 200px;
    top: 5%;
    font-weight: 900;
    text-align: center;
    padding: 10px;
    opacity: 100%;
}

.glowneNapisy
{
    padding-top: 30px;
    font-size: 30px;
    opacity: 100%;

}
.dodatkoweNapisy
{
    position: relative;
    opacity: 100%;
}
.dodatkoweGuziki
{
    position: relative;
    border: 5px solid #7034ff;
    background-color: #22263f;
    color: white;
    align-items: center;
    justify-content: center;
    left: 46%;
    bottom: 43%;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    font-weight: 1000;
    opacity: 100%;

}
.dodatkoweGuziki:hover
{
    background-color: #8c5bff;
    box-shadow: 0px 0px 10px #7c44ff;
    cursor: pointer;
    opacity: 100%;
}

.blur
{
    position: sticky;
    width: 100%;
    height: 100%;
    background-color: black;
    bottom: 1%;
    opacity: 90%;
}

.znaczek
{
    order: -1;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 5px solid white; 
}
.napisaneJest
{
    width: 100%;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

