.radioInput
{
    margin: 20px;
    padding: 10px;
    color: white;
    border-radius: 20px;
    width: 90%;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    border: 6px solid #46209e;
    background-color: #7034ff;
}

.radioInput:focus
{
    outline: none;
}