*{margin: 0px;}

button:focus
{
    outline: none;
}
header
{
    text-align: center;
    border: 3px solid black;
    padding: 5px;
    margin-bottom: 5px;
}

.nav
{
    width: 20%;
    border: 2px solid black;
    float: left;
}
#content
{
    width: 70%;
    border-radius: 30px 0px 0px 30px;
    float: right;
    text-align: center;
    padding: 10px;
    margin-right: 15%;
}

#nmrPytania
{
    background-color: #2e3353;
    border-radius: 0px 0px 20px 20px;
    padding: 10px;
    padding-left: 5%;
    text-align: left;
    font-size: 12px;
}

#TrescPytania
{
    padding: 10px;
    letter-spacing: 1px;
    margin: 10px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
}

#guziki
{
    padding-top: 15px;
}

#odpowiedzi
{
    padding: 5px;
}

.odpowiedzNMR
{
    padding: 15px;
    margin: 10px;
    float: inline-end;
    font-family: roboto-bold;
    letter-spacing: 1px;
}



.klikacze
{
    font-size: 20px;
    color: white;
    width: 30%;
    margin-top: 10px;
    padding: 10px;
    background-color: #22263f;
    border-radius: 15px;
    border: 1px solid #7034ff;
    cursor: pointer;
}

.klikacze:hover
{
    border-bottom: 2px solid #8756fa ;
    animation: zakrywacz 1s ease-in-out;
    animation-play-state: running;
}

@keyframes zakrywacz{
    0%{}
    50%{border-top: 2px solid #7034ff;
        border-left: 2px solid #7034ff;
        border-right: 2px solid #7034ff;
    box-shadow: 0px 0px 10px #7034ff;
    }
    100%{}
}
.klikacze:focus
{
    outline: none;
}

#znacznik
{
    background-color: #373b5d;
    border: 0px solid yellow;
    border-radius: 20px;
    margin: 5px;
    padding-left: 20px;
    text-align: center;
    
}

body
{
    background-color: #0e0f1a;
    color: white;
    cursor: default;
    width:1fr;
    height: 1fr;
    text-transform: uppercase;
    font-size: 1v;
    font-family: 'Ubuntu Mono', monospace;    font-weight: 100;
}

.lewyPanel
{
    background-color:#363636;
    border-radius: 0px 0px 30px 30px;
    text-align: center;
    padding: 2px;
}

#listaPytan
{
    text-align: center;
    margin-top: 5%;
    padding:1%;
    width: 90%;
    border-radius: 20px;
    float: right;
    background-color: #1e2136;
}

#nagloekListyPytan
{
    padding:1%;
    border-radius: 30px;
    background-color: #7034ff;
}

#rozsunListe
{
    margin: 1%;
    width: 45%;
    padding: 0.5%;
    background-color: #ff5252;
    border: 2px solid #ff5252;
    border-radius: 30px;
    cursor: pointer;
    color: white;
}

#rozsunListe:hover
{
background-color: #b33939;}

.listaPytan
{
    margin-top: 1.5%;
    margin-right: 2px;
    width: 100%;
    border-radius: 10px;
    border-top:  2px solid  #7034ff;
    border-left: 2px solid #7034ff;
    text-align: left;
    padding:5px ;
    padding-left: 2%;
}

.pasekStanu
{
    border-top:3px solid #824cff ;
    border-bottom: 3px solid #824cff;
    background-color: #1e2136;
    margin-bottom: 3%;
    text-align: center;
    display: inline-flex;
    width: 100%;
    display: flex;
    justify-content: center;
}

.opcjaMenu
{
    
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    float: left;
    border:2px solid #ff793f;
    background-color: #ff793f;
    color: white;
}

.opcjaMenu:hover
{
    background-color:#cd6133 ;
    cursor: pointer;
}

.nav
{
    float: left;
    width: 20%;
    text-align: center;
    border-radius: 10px;
    background-color:#333333 ;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 10px;
}

#zakrywacz
{
    width: 100%;
    position: relative; 
}

img
{
    min-width: 200px;
    min-height: 200px;
    max-width: 400px;
    max-height: 400px;
}

#menuLewe
{
    border: 2px solid red;
    height: 100%;
}

.paski
{
    background-color: #7034ff;
    border-radius: 20px 20px 0px 0px;
    padding: 20px;
    font-size: 15px;
    text-align: center;
}

.paskiWSrodku
{
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}
Z6DQC-E4TCW-2REU4-APGQR